.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bear {
    height: 200px;
    width: 200px;
}

.text {
    font-size: large;
}

.accept {
    background-color: green;
    color: white;
    font-weight: bold;
}

.decline {
    background-color: red;
    color: white;
    font-weight: bold;
}